SECRET_KEY=generate your key

# sentry dsn for error logs
SENTRY_DSN=
SENTRY_ENV=
SENTRY_RELEASE=
TRACE_SAMPLE_RATE=

DEBUG=False

ALLOWED_HOSTS=

# DB config
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=5432
DB_HOST=localhost

# Email Config
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=apikey
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_EMAIL_FROM=HisabKitab.in | Vitartha LLP<info@vitartha.com>

# CORS
CORS_ORIGIN_WHITELIST=
